:root {
    --main-font: "Questrial", sans-serif;
    --secondary: "Poppins", sans-serif;
    --main: #FFFFFF;
    --second: white 50%;
    --accent: #5D8FEE;
    --background: #202124;
    --border: #36373A;
    --borderTwo: #262C38;
    --button: #434447;
}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--main);
}
body {
  font-family: var(--main-font);
  color: var(--main);
  background-color: var(--background);
}
img {
  display: block;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
  }
.header {
    height: 64px;
    background: rgba(32, 33, 36, 0.15);
    backdrop-filter: blur(12.5px);
    border-bottom: 1px solid var(--button);
}
.header__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn .menu-btn__icon{
    border: none;
    padding-right: none;
}
.nav {
    font-family: var(--secondary);
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    list-style-type: none;
}
@media screen and (min-width: 320px) {
    .hero {
      background-image: linear-gradient(176.21deg, #000000 60.89%, rgba(0, 0, 0, 0) 97.02%),
          url(/images/hero/hero@1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 521px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(176.21deg, #000000 60.89%, rgba(0, 0, 0, 0) 97.02%),
        url(/images/hero/hero@2.jpg);
    }
  }
